@import "tailwindcss";

/*@import "tailwindcss-animate";*/

@theme {
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    /*BG Colors*/
    --color-background: #f1faf4;
    /*Colors*/
    --color-burnham-50: #ebfef6;
    --color-burnham-100: #cffce8;
    --color-burnham-200: #a3f7d5;
    --color-burnham-300: #68edc1;
    --color-burnham-400: #2cdba6;
    --color-burnham-500: #08c190;
    --color-burnham-600: #009d76;
    --color-burnham-700: #007e61;
    --color-burnham-800: #02634e;
    --color-burnham-900: #035142;
    --color-burnham-950: #002e26;


    /*    Custom to check */
    /*    --color-background: 0 0% 100%;*/
    --color-foreground: hsl(222.2 84% 4.9%);

    --color-card: hsl(0 0% 100%);
    --color-card-foreground: hsl(222.2 84% 4.9%);

    --color-popover: hsl(0 0% 100%);
    --color-popover-foreground: hsl(222.2 84% 4.9%);

    --color-primary: hsl(222.2 47.4% 11.2%);
    --color-primary-foreground: hsl(210 40% 98%);

    --color-secondary: hsl(210 40% 96.1%);
    --color-secondary-foreground: hsl(222.2 47.4% 11.2%);

    --color-muted: hsl(210 40% 96.1%);
    --color-muted-foreground: hsl(215.4 16.3% 46.9%);

    --color-accent: hsl(210 40% 96.1%);
    --color-accent-foreground: hsl(222.2 47.4% 11.2%);

    --color-destructive: hsl(0 84.2% 60.2%);
    --color-destructive-foreground: hsl(210 40% 98%);
}

@layer base {
    h1 {
        @apply text-2xl font-bold;
    }

    h2 {
        @apply text-xl font-bold;
    }

    h3 {
        @apply text-lg font-bold;
    }

}

@layer components {
    .container {
        @apply w-full max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
    }

    .hero {
        @apply flex flex-col justify-center items-center gap-3 py-10;

        div {
            @apply text-center;

            h2 {
                @apply font-bold text-5xl mb-4;
            }

            p {
                @apply text-sm md:text-lg my-4;
            }
        }
    }

    .article-card {
        @apply flex flex-col gap-3 p-4 bg-white rounded-lg shadow-lg;
    }

    .card-title {
        @apply flex items-center justify-between mt-3;

        h3 {
            @apply text-2xl font-semibold truncate;
        }
    }

    .author {
        @apply flex items-center gap-2 mt-2;
    }

    .articles-grid {
        @apply grid grid-cols-1 sm:grid-cols-3 gap-4 container;
    }

    .article-date {
        @apply text-sm text-gray-400 my-1;
    }

    .article-description {
        @apply text-gray-500 leading-5 mb-10 text-sm sm:text-base
    }
}

@layer utilities {
    .pill {
        @apply bg-[#54BE7C] inline-block px-3 py-1 rounded-full text-sm font-medium transition-colors hover:bg-[#4CAF70]
        ;
    }

    .search {
        @apply outline-none border border-gray-300 rounded-full px-4 pl-10 py-2 w-full placeholder:text-gray-500 placeholder:italic focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-transparent;
    }

    .tag {
        @apply text-[#54BE7C] text-sm;
    }

    .img-pulse {
        @apply bg-gray-400 rounded-lg w-full h-40 animate-pulse;
    }

    .avatar {
        @apply bg-gray-400 rounded-full w-10 h-10;
    }

    .btn {
        @apply bg-white px-4 py-2 rounded-lg cursor-pointer flex items-center gap-2 hover:shadow-lg transition-shadow duration-300;
    }

    .t-head {
        @apply h-12 px-4 text-left align-middle font-medium text-muted-foreground;
    }

    .t-data {
        @apply p-4 align-middle [&:has([role=checkbox])]:pr-0
    }

    .t-row {
        @apply border-b border-gray-200 transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted
    }

    /*.btn:hover svg {*/
    /*    @apply */
    /*}*/
    /*@keyframes bounce-subtle {*/
    /*    0%, 100% {*/
    /*        transform: translateY(0);*/
    /*    }*/
    /*    50% {*/
    /*        transform: translateY(4px);*/
    /*    }*/
    /*}*/
    /*.animate-bounce-subtle {*/
    /*    animation: bounce-subtle 1s ease-in-out infinite;*/
    /*}*/
    .flex-center {
        @apply flex justify-center items-center;
    }

}

html, body {
    @apply bg-background scroll-smooth;
}

.is-active {
    @apply p-1 rounded-md bg-violet-400
}
